<!-- 
Model backed form helpers are tied to an object. There has to be a setter method, a virtual attribute or a column in the database, available for that object when using the model backed form helpers. We use model backed form helpers usually when we need to create, edit, or update an object.

By convention, form_for creates a form based on a specific model object. We are able to create, edit, and update that object's attributes. A form can be created by passing form_for a string or symbol relating to the object we want to deal with.

Here, the model-backed form takes an ojbect @product and infers the action and all else based on convention. Form_for checks to see if @product is a new or existing object. If its a new object, it routes the information submitted to the 'create route' by setting action='/products' (uri) and method='post' (verb). This can be seen by using "inspect element" in chrome. In the case that #product is an exsisting object, its is routed to the update route, setting action='/products/id' and method='post' (this works because there is a hidden _method="patch" which converts post to patch for rails to use). The information submitted is stored in a params hash that can be used for mass assignment, in this case "product"=>{"name"=>"some name"}.
Product.create(params[:post]) is equivalent to Product.create("name"=>"some name")

text_field can to be any attribute (column) or virtual attribute of the product model that is permitted (in products_controller.rb under function 'product_params' is where we set permissions). In the product model, attributes are: id, name, ingredients
-->
<div class='row'>
  <div class='form-horizontal col-lg-6 col-lg-offset-3'>
    <%= form_for(@product, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="col-lg-12">
          <%= f.label :name, class:"label-style label-color"%>
        </div>
        <div class="col-lg-12">
          <%= f.text_field :name, id: "form-input", class: "form-control", placeholder: "Name of Product", autofocus: true %>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="col-lg-12">
          <%= f.label :ingredients, class:"label-style label-color"%>
        </div>
        <div class="col-lg-12">
          <%= f.text_area :ingredients, id: "form-textarea", class: "form-control", placeholder: "ingredient 1, ingredient 2, ... " %>
        </div>
      </div>  
      <div class="form-group col-lg-12 center">
        <!-- <button id="form-button" type="submit" class="btn btn-my-primary btn-xlarge" onclick="handleShow(event)">Check and Save</button> -->
        <button type="submit" class="btn btn-my-primary btn-xlarge">Submit</button>
      </div>
    <% end %>
  </div>
</div>
