<h3 class="center-heading label-color"><strong><%= @product.name %></strong></h3>

<!-- Check if product's ingredients cause an allergic reaction -->
<% if @product.causes_reaction.empty? %>
  <h5 class="center-heading text-color-ok"><strong>Ingredients: Contain No Allergens</strong></h5>
<% else %>
  <h5 class="center-heading text-color-not-ok"><strong>Ingredients: Contain Allergens</strong></h5>
<% end %>
<br>

<table>
  <tr>
  </tr>
  <!-- display each product ingredient -->
  <% @product.get_ingredients.each do |current_ingredient| %>
    <!-- check if ingredient for this product is in Reaction db -->
    <% ingredient_search_results = search_all_reactions(current_ingredient, current_user) %>
    <!-- if ingredient causes reaction -->
    <% unless ingredient_search_results.empty? %>
      <tr>
        <td class="show-ingredient-name background-color-not-ok">
          <%= current_ingredient %>
        </td>
        <td class="background-color-not-ok">
          <% reactive_allergens = Allergen.find(ingredient_search_results.pluck(:allergen_id)) %>
          <div class="center-glyphicon text-color-not-ok">
            <span class="glyphicon glyphicon-ban-circle"></span>
          </div>
          <%= render partial: 'product_allergen', collection: reactive_allergens, :locals => {search_item: current_ingredient}  %>
        </td>
      </tr>
    <% else %>
      <!-- ingredient does not cause a reaction -->
      <tr>
        <td class="show-ingredient-name text-color-ok">
          <%= current_ingredient %>
        </td>
        <td class="center-glyphicon text-color-ok">
          <span class="glyphicon glyphicon-ok"></span>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
<br>
<div class="center product-actions">
  <%= link_to "Edit this product", edit_product_path(@product), class: "btn btn-xlarge btn-info" %>
  <%= link_to "Done", product_path(@product), method: :delete,
    data: { confirm: "Are you sure you want to delete the product?"},
    class: "btn btn-xlarge btn-danger" %>
</div>
<br>
<br>
